<!DOCTYPE html>
<html>
<head>
    <title>React + Spring</title>
</head>
<body>
<div id='root'></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/babel">
    var UploadForm = React.createClass({
        fileUpload(file){
            const url = 'http://example.com/file-upload';
            const formData = new FormData();
            formData.append('file',file)
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            return  post(url, formData,config)
        }

        render() {
            return (
                <form onSubmit={this.onFormSubmit}>
                    <h1>File Upload</h1>
                    <input type="file" onChange={this.onChange} />
                    <button type="submit">Upload</button>
                </form>
            )
        }
    });

    ReactDOM.render(
        <UploadForm/>, document.getElementById('root')
    );



</script>
</body>
</html>